/* 3D Button */

.dcm0cujv48 {
  height: 40px;
  position: relative;
  cursor: pointer;
  display: inline-block;
  user-select: none;
}

.dcm0cujv48 .wspwho0gps {
  padding: 15px;
  height: 100%;
  display: flex;
  gap: 6px;
  align-items: center;
  background-color: rgba(0, 150, 120);
  border-radius: 4px;
  border-bottom: 4px solid var(--base-comp-color-4);
  font-size: 14px;
  transition: all 0.1s ease;
}

/*  */

.dcm0cujv48 * {
  font-size: 14px;
  font-weight: 900;
}

.dcm0cujv48 .yb08fmpwlp {
  position: absolute;
  z-index: -1;
  height: 10px;
  width: 100%;
  bottom: calc(0% - 6px);
  border-radius: 200px;
  background-color: var(--base-comp-color-4);
  color: white;
  transition: all 0.1s ease;
}

/*  */

.dcm0cujv48:hover .wspwho0gps {
  height: calc(100% - 1px);
  transform: translateY(1px);
  border-bottom: 3px solid var(--base-comp-color-4);
  background-color: rgba(0, 125, 95);
}

.dcm0cujv48:active .wspwho0gps {
  height: calc(100% - 3px);
  transform: translateY(3px);
  border-bottom: 1px solid var(--base-comp-color-4);
}

.dcm0cujv48:hover .yb08fmpwlp {
  transform: translateY(-1px);
}

.dcm0cujv48:active .yb08fmpwlp {
  transform: translateY(-3px);
}

/*  */

.dcm0cujv48:disabled .wspwho0gps {
  background-color: rgba(195, 195, 195);
}

.dcm0cujv48:disabled:hover .wspwho0gps {
  height: calc(100%);
  transform: translateY(0);
  border-bottom: 4px solid var(--base-comp-color-4);
  background-color: rgba(165, 165, 165);
}

.dcm0cujv48:disabled:active .wspwho0gps {
  height: calc(100%);
  transform: translateY(0);
  border-bottom: 4px solid var(--base-comp-color-4);
}

.dcm0cujv48:disabled:hover .yb08fmpwlp {
  transform: translateY(0);
}

.dcm0cujv48:disabled:active .yb08fmpwlp {
  transform: translateY(0);
}

/* Hamburger */

.dur25j4sw5 {
  width: 60px;
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(40, 45, 50);
  border-radius: 200px;
  cursor: pointer;
  position: relative;
  transition: all 0.2s ease;
}

/*  */

.dur25j4sw5 div,
.dur25j4sw5 div::before,
.dur25j4sw5 div::after {
  width: 50%;
  height: 4px;
  background-color: white;
  transition: all 0.2s ease;
  border-radius: 200px;
  pointer-events: none;
}

.dur25j4sw5 div::before,
.dur25j4sw5 div::after {
  content: "";
  transform: translateY(-12px);
  position: absolute;
}

.dur25j4sw5 div::after {
  transform: translateY(12px);
}

/*  */

.dur25j4sw5:hover {
  background: rgba(30, 35, 40);
}

.dur25j4sw5:hover div::before {
  transform: translateY(-16px);
}

.dur25j4sw5:hover div::after {
  transform: translateY(16px);
}

/*  */

.dur25j4sw5.open div {
  animation: dur25j4sw5open 0.8s forwards;
}

.dur25j4sw5.open div::before {
  animation: dur25j4sw5openbefore 0.8s forwards;
}

.dur25j4sw5.open div::after {
  animation: dur25j4sw5openafter 0.8s forwards;
}

/*  */

.dur25j4sw5.close div {
  animation: dur25j4sw5close 0.8s forwards;
}

.dur25j4sw5.close div::before {
  animation: dur25j4sw5closebefore 0.8s forwards;
}

.dur25j4sw5.close div::after {
  animation: dur25j4sw5closeafter 0.8s forwards;
}

/*  */

/*  */

@keyframes dur25j4sw5open {
  20% {
    visibility: hidden;
  }

  100% {
    visibility: hidden;
  }
}
@keyframes dur25j4sw5openbefore {
  20% {
    transform: translateY(0px);
    transform: rotateZ(0deg);
    visibility: visible;
  }
  100% {
    transform: rotateZ(405deg);
    visibility: visible;
  }
}

@keyframes dur25j4sw5openafter {
  20% {
    transform: translateY(0px);
    transform: rotateZ(0deg);
    visibility: visible;
  }
  100% {
    transform: rotateZ(495deg);
    visibility: visible;
  }
}

/*  */

@keyframes dur25j4sw5close {
  0% {
    visibility: hidden;
  }
  80% {
    visibility: hidden;
  }
}

@keyframes dur25j4sw5closebefore {
  0% {
    transform: translateY(0);
    transform: rotateZ(-405deg);
    visibility: visible;
  }
  80% {
    transform: translateY(0);
    transform: rotateZ(0);
    visibility: visible;
  }
  100% {
    transform: translateY(12);
  }
}

@keyframes dur25j4sw5closeafter {
  0% {
    transform: translateY(0);
    transform: rotateZ(-495deg);
    visibility: visible;
  }
  80% {
    transform: translateY(0);
    transform: rotateZ(0);
    visibility: visible;
  }
  100% {
    transform: translateY(12);
  }
}

/*  */
/*  */

.gpa30x3z65 {
  padding: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 900;
  font-size: 14px;
  border-radius: 4px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  border: 2px solid var(--green);
  transition: all 0.2s ease;
  text-transform: uppercase;
}

.gpa30x3z65:hover {
  background-color: var(--green);
  color: white;
}

.gpa30x3z65 * {
  transition: all 0.2s ease;
}

.gpa30x3z65:hover * {
  color: white;
}

.gpa30x3z65.orange {
  border-color: var(--orange);
}

.gpa30x3z65.orange:hover {
  background-color: var(--orange);
  color: white;
}

.gpa30x3z65.red {
  border-color: var(--red);
}

.gpa30x3z65.red:hover {
  background-color: var(--red);
  color: white;
}

.gpa30x3z65.blue {
  border-color: var(--blue);
}

.gpa30x3z65.blue:hover {
  background-color: var(--blue);
  color: white;
}

.gpa30x3z65.purple {
  border-color: var(--purple);
}

.gpa30x3z65.purple:hover {
  background-color: var(--purple);
  color: white;
}

/*  */
/*  */

.kvcdz3lpy3 {
  padding: 2px;
  padding-left: 4px;
  padding-right: 4px;
  border-radius: 4px;
  color: white;
  background-color: var(--green);
  font-weight: 700;
}

/*  */
/*  */

.ums5emasw3 {
  padding: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 900;
  font-size: 14px;
  border-radius: 4px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: white;
  gap: 10px;
  cursor: pointer;
  border: 2px solid var(--green);
  background-color: var(--green);
  transition: all 0.2s ease;
  text-transform: uppercase;
}

.ums5emasw3 * {
  color: white;
}
