.z7z5jhi26x {
  position: relative;
  display: flex;
  align-items: center;
  padding: 10px;
}

.z7z5jhi26x label {
  position: absolute;
  left: 50%;
  transform: translateX(-50%) scale(0);
  transition: all 0.1s ease;
  top: calc(100% + 4px);
  pointer-events: none;
}

.z7z5jhi26x:hover label {
  transform: translateX(-50%) scale(1);
}

/*  */

.q5ods5ckwm {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 15px;
}

/*  */

.ut7pmfjxxd {
  cursor: pointer;
}

.ut7pmfjxxd:hover {
  transform: translateY(-2px);
}

.vbk3n7jid7 {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 15px;
}

@media only screen and (min-width: 400px) {
  .vbk3n7jid7 {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (min-width: 600px) {
  .q5ods5ckwm {
    grid-template-columns: repeat(2, 1fr);
  }
}

.iehygbnwgs {
  box-shadow: 0 0 12px -6px black;
}

.f04poi7v7m {
  box-shadow: 0 0 6px -2px black;
}

.ndfqlamrak {
  display: flex;
  flex-direction: column;
  border-bottom: 2px solid var(--text-color-1);
  font-size: 20px;
}

.ndfqlamrak.false {
  border-bottom-color: var(--red);
}

.ndfqlamrak.true {
  border-bottom-color: var(--green);
}

:disabled {
  cursor: not-allowed;
}
